body {
background-color: rgba(0, 0, 0, 0);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
 }
.canvas {
width:480px;
height:480px;
}
.pixel {
width:30px;
height:30px;
float: left;
box-shadow: 0px 0px 1px #fff; }
.pixel:nth-child(81){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(97){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(113){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(129){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(145){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(161){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(177){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(50){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(66){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(82){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(98){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(114){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(130){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(146){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(162){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(178){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(194){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(35){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(51){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(67){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(83){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(99){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(115){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(131){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(147){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(163){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(179){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(195){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(211){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(227){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(20){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(36){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(52){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(68){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(84){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(100){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(116){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(132){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(148){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(164){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(180){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(196){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(212){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(228){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(244){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(21){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(37){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(53){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(69){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(85){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(101){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(117){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(133){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(149){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(165){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(181){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(197){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(213){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(229){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(245){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(6){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(22){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(38){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(54){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(70){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(86){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(102){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(118){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(134){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(150){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(166){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(182){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(198){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(214){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(230){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(246){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(7){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(23){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(39){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(55){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(71){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(87){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(103){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(119){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(135){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(151){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(167){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(183){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(199){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(215){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(231){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(247){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(8){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(24){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(40){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(56){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(72){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(88){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(104){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(120){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(136){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(152){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(168){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(184){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(200){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(216){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(232){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(248){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(9){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(25){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(41){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(57){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(73){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(89){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(105){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(121){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(137){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(153){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(169){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(185){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(201){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(217){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(233){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(249){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(10){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(26){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(42){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(58){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(74){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(90){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(106){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(122){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(138){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(154){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(170){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(186){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(202){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(218){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(234){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(250){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(11){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(27){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(43){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(59){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(75){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(91){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(107){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(123){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(139){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(155){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(171){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(187){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(203){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(219){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(235){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(251){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(28){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(44){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(60){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(76){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(92){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(108){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(124){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(140){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(156){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(172){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(188){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(204){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(220){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(236){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(252){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(29){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(45){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(61){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(77){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(93){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(109){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(125){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(141){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(157){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(173){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(189){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(205){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(221){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(237){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(253){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(46){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(62){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(78){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(94){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(110){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(126){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(142){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(158){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(174){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(190){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(206){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(222){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(238){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(63){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(79){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(95){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(111){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(127){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(143){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(159){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(175){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(191){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(207){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(96){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(112){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(128){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(144){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(160){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(176){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(192){
background-color: rgba(255,255,255, 1);
}
.pixel:nth-child(81){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(97){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(113){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(129){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(145){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(161){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(177){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(50){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(66){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(82){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(178){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(194){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(35){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(51){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(163){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(179){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(195){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(211){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(227){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(20){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(36){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(164){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(180){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(228){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(244){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(21){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(165){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(245){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(6){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(22){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(166){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(246){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(7){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(167){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(183){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(199){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(247){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(8){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(168){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(248){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(9){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(169){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(249){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(10){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(170){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(186){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(202){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(250){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(11){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(27){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(171){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(251){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(28){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(172){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(252){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(29){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(45){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(173){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(189){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(237){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(253){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(46){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(62){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(174){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(190){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(206){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(222){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(238){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(63){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(79){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(95){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(191){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(207){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(96){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(112){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(128){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(144){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(160){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(176){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(192){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(146){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(162){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(67){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(147){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(68){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(132){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(148){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(69){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(85){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(101){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(117){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(133){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(149){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(70){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(86){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(150){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(55){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(71){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(24){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(40){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(56){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(72){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(25){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(41){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(57){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(73){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(58){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(74){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(75){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(91){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(155){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(76){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(92){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(108){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(124){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(140){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(156){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(77){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(141){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(157){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(78){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(158){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(159){
background-color: rgba(150,255,0, 1);
}
.pixel:nth-child(175){
background-color: rgba(150,255,0, 1);
}
