body {
background-color: rgba(0, 0, 0, 0);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
 }
.canvas {
width:810px;
height:900px;
}
.pixel {
width:30px;
height:30px;
float: left;
box-shadow: 0px 0px 1px #fff; }
.pixel:nth-child(248){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(275){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(302){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(329){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(518){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(195){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(249){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(276){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(303){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(330){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(357){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(519){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(546){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(169){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(250){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(277){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(304){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(331){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(358){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(547){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(574){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(170){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(251){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(278){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(305){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(332){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(359){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(386){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(575){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(171){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(198){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(225){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(252){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(279){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(306){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(333){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(360){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(387){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(576){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(603){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(64){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(199){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(226){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(253){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(280){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(307){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(334){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(361){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(388){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(577){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(604){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(38){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(200){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(227){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(254){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(281){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(308){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(335){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(362){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(389){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(39){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(174){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(201){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(228){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(255){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(282){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(309){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(336){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(363){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(552){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(579){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(606){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(202){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(229){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(256){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(283){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(445){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(472){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(499){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(526){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(553){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(580){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(607){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(634){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(41){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(203){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(446){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(473){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(500){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(527){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(554){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(608){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(635){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(42){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(69){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(204){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(447){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(528){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(609){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(636){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(70){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(97){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(178){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(205){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(367){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(394){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(421){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(556){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(583){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(610){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(179){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(233){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(341){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(368){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(395){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(422){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(180){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(207){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(234){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(261){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(288){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(315){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(342){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(639){
background-color: rgba(0,255,0, 1);
}
.pixel:nth-child(208){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(235){
background-color: rgba(0,186,0, 1);
}
.pixel:nth-child(262){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(289){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(316){
background-color: rgba(0,115,0, 1);
}
.pixel:nth-child(735){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(762){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(682){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(709){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(736){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(763){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(467){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(683){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(710){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(737){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(764){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(441){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(468){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(684){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(711){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(738){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(765){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(469){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(685){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(712){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(766){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(443){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(740){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(767){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(742){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(769){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(716){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(743){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(770){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(744){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(771){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(745){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(772){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(773){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(126){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(127){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(154){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(397){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(128){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(155){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(344){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(210){
background-color: rgba(255,139,0, 1);
}
.pixel:nth-child(237){
background-color: rgba(255,81,0, 1);
}
.pixel:nth-child(264){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(238){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(265){
background-color: rgba(139,54,2, 1);
}
.pixel:nth-child(600){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(627){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(628){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(632){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(660){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(687){
background-color: rgba(255,143,98, 1);
}
.pixel:nth-child(688){
background-color: rgba(255,143,98, 1);
}
.pixel:nth-child(311){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(392){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(419){
background-color: rgba(255,143,98, 1);
}
.pixel:nth-child(339){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(366){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(393){
background-color: rgba(255,143,98, 1);
}
.pixel:nth-child(420){
background-color: rgba(255,143,98, 1);
}
.pixel:nth-child(340){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(664){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(314){
background-color: rgba(255,174,142, 1);
}
.pixel:nth-child(247){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(274){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(301){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(328){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(490){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(517){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(544){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(571){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(194){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(221){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(356){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(491){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(599){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(626){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(734){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(761){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(788){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(168){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(222){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(384){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(465){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(492){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(654){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(681){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(708){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(789){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(142){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(385){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(466){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(520){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(655){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(790){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(143){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(224){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(413){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(440){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(494){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(548){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(656){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(791){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(63){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(90){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(117){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(144){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(414){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(495){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(549){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(657){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(792){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(37){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(172){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(415){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(496){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(550){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(658){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(793){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(11){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(92){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(119){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(416){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(524){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(551){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(578){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(605){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(659){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(686){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(713){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(794){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(12){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(390){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(417){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(444){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(471){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(498){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(525){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(633){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(714){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(741){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(768){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(795){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(40){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(94){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(121){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(310){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(337){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(364){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(418){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(661){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(715){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(796){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(14){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(338){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(662){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(689){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(797){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(15){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(474){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(501){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(555){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(663){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(690){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(717){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(798){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(43){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(502){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(529){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(637){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(691){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(718){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(799){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(71){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(98){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(125){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(152){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(530){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(557){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(584){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(611){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(638){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(665){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(719){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(800){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(99){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(153){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(369){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(396){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(558){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(585){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(612){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(666){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(747){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(774){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(801){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(100){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(181){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(343){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(370){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(424){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(451){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(478){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(505){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(532){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(586){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(613){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(640){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(101){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(182){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(209){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(236){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(263){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(290){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(317){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(371){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(398){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(129){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(156){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(183){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(291){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(318){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(345){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(211){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(292){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(239){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(266){
background-color: rgba(0,0,0, 1);
}
