body {
background-color: rgba(0, 0, 0, 0);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
 }
.canvas {
width:405px;
height:795px;
}
.pixel {
width:15px;
height:15px;
float: left;
box-shadow: 0px 0px 1px #fff; }
.pixel:nth-child(355){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(221){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(248){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(356){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(383){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(249){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(276){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(303){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(330){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(411){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(465){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(142){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(169){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(196){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(250){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(277){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(304){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(331){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(358){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(385){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(412){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(439){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(466){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(89){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(116){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(143){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(170){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(197){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(224){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(251){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(278){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(305){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(332){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(359){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(386){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(413){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(440){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(494){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(63){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(90){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(144){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(171){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(198){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(225){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(252){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(279){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(306){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(333){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(360){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(387){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(414){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(441){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(91){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(118){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(145){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(172){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(199){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(226){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(253){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(280){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(307){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(334){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(361){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(388){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(415){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(119){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(146){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(173){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(200){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(227){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(254){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(281){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(308){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(389){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(120){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(147){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(174){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(201){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(228){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(255){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(282){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(309){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(336){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(363){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(94){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(148){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(175){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(229){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(256){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(283){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(310){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(337){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(364){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(391){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(68){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(203){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(230){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(257){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(284){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(311){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(419){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(96){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(123){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(150){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(177){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(204){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(231){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(258){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(285){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(312){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(124){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(151){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(178){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(205){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(232){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(259){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(286){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(313){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(502){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(745){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(880){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(125){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(152){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(179){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(206){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(233){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(260){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(287){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(314){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(341){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(153){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(180){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(207){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(234){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(261){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(288){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(315){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(342){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(100){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(127){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(208){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(235){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(262){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(289){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(316){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(343){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(370){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(128){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(155){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(182){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(209){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(236){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(263){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(290){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(317){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(344){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(371){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(156){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(183){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(210){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(237){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(264){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(291){
background-color: rgba(8,119,152, 1);
}
.pixel:nth-child(318){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(345){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(372){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(399){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(211){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(238){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(265){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(292){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(319){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(346){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(373){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(400){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(427){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(293){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(320){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(401){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(428){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(455){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(482){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(294){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(321){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(348){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(375){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(241){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(268){
background-color: rgba(9,221,203, 1);
}
.pixel:nth-child(295){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(322){
background-color: rgba(0,193,209, 1);
}
.pixel:nth-child(788){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(815){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(842){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(869){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(735){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(762){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(789){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(816){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(843){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(870){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(951){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(978){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(1005){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(736){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(763){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(790){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(817){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(925){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(952){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(979){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(1006){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(764){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(953){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(980){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(1007){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(954){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(981){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(469){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(496){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(523){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(497){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(524){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(417){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(444){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(471){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(498){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(525){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(552){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(579){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(606){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(633){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(660){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(526){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(553){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(580){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(607){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(634){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(661){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(688){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(527){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(554){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(581){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(608){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(635){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(662){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(689){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(366){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(393){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(528){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(555){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(582){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(609){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(636){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(663){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(690){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(717){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(367){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(394){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(421){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(448){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(529){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(556){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(583){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(610){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(691){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(718){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(745){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(880){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(395){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(422){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(449){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(476){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(530){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(557){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(584){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(611){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(665){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(692){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(719){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(396){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(423){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(450){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(477){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(504){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(531){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(558){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(585){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(612){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(666){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(693){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(720){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(424){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(451){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(478){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(505){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(532){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(559){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(586){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(694){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(425){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(452){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(479){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(533){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(560){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(453){
background-color: rgba(237,162,118, 1);
}
.pixel:nth-child(858){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(885){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(967){
background-color: rgba(183,114,70, 1);
}
.pixel:nth-child(968){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(995){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(1022){
background-color: rgba(249,222,179, 1);
}
.pixel:nth-child(896){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(923){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(708){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(897){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(924){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(682){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(709){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(1141){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1168){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1195){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(656){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(683){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(710){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(737){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(1088){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1115){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1142){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1169){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1196){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1223){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(657){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(684){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(711){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(738){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(1089){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1116){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1143){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1170){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1197){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1224){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(631){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(658){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(685){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(712){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(739){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(766){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1036){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1063){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1090){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1117){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1144){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1171){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1198){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(632){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(659){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(686){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(713){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(740){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(767){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(794){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(956){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(983){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1010){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1037){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1064){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1091){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1118){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1145){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1172){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1199){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(687){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(714){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(741){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(768){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(795){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(903){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(930){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(957){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(984){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1011){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1038){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1065){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1092){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1119){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1146){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1173){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1200){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(715){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(742){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(769){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(796){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(823){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(850){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(877){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(904){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(931){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(958){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(985){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1012){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1039){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1066){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1093){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1120){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(473){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(716){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(743){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(770){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(797){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(824){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(851){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(878){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(905){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(932){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(959){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(986){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1013){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1040){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1067){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(744){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(771){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(798){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(825){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(852){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(879){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(906){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(933){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(960){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(987){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1014){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(745){
background-color: rgba(190,190,19052, 1);
}
.pixel:nth-child(772){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(799){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(826){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(853){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(880){
background-color: rgba(190,190,19052, 1);
}
.pixel:nth-child(907){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(934){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(961){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(988){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1123){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1150){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1177){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(746){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(773){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(800){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(827){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(854){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(881){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(908){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(935){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(962){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(989){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1016){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1043){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1151){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1178){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1205){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(747){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(774){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(801){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(828){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(855){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(882){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(909){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(936){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(963){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(990){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1017){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1044){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1071){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1098){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1179){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1206){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(667){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(721){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(748){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(775){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(802){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(829){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(856){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(883){
background-color: rgba(190,190,190, 1);
}
.pixel:nth-child(910){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(937){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(964){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(991){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1018){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1045){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1072){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1099){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1126){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1153){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1207){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(695){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(722){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(749){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(776){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(803){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(830){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(911){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(938){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(965){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(992){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1019){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1046){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1073){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1100){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1127){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1154){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1181){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1208){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(696){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(723){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(750){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(777){
background-color: rgba(246,127,0, 1);
}
.pixel:nth-child(1020){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1047){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1074){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1101){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1128){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1155){
background-color: rgba(135,27,2, 1);
}
.pixel:nth-child(1182){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(724){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(751){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(913){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(940){
background-color: rgba(52,63,98, 1);
}
.pixel:nth-child(1129){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1156){
background-color: rgba(194,54,1, 1);
}
.pixel:nth-child(1354){
background-color: rgba(31,70,121, 1);
}
.pixel:nth-child(1381){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1301){
background-color: rgba(31,70,121, 1);
}
.pixel:nth-child(1328){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1355){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1382){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1248){
background-color: rgba(31,70,121, 1);
}
.pixel:nth-child(1275){
background-color: rgba(31,70,121, 1);
}
.pixel:nth-child(1329){
background-color: rgba(31,70,121, 1);
}
.pixel:nth-child(1356){
background-color: rgba(31,70,121, 1);
}
.pixel:nth-child(1383){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1222){
background-color: rgba(31,70,121, 1);
}
.pixel:nth-child(1249){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1276){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1303){
background-color: rgba(198,151,39, 1);
}
.pixel:nth-child(1330){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1357){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1384){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1250){
background-color: rgba(31,70,121, 1);
}
.pixel:nth-child(1277){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1251){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(745){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(880){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1232){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1233){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1260){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1287){
background-color: rgba(136,100,18, 1);
}
.pixel:nth-child(1234){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1261){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1288){
background-color: rgba(198,151,39, 1);
}
.pixel:nth-child(1315){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1369){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1235){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1262){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1316){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1343){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1370){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1317){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1344){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1371){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1345){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(1372){
background-color: rgba(22,36,59, 1);
}
.pixel:nth-child(1373){
background-color: rgba(31,70,121, 1);
}
.pixel:nth-child(1374){
background-color: rgba(205,7,40, 1);
}
.pixel:nth-child(326){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(192){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(327){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(354){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1353){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1380){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1407){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(193){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(220){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(247){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(328){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(382){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(463){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(787){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(814){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(841){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(868){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(895){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(922){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(949){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1300){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1327){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1408){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(194){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(275){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(302){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(329){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(410){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(437){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(464){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(707){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(734){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(761){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(950){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(977){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1004){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1247){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1274){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1409){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(141){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(168){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(195){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(222){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(357){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(384){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(438){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(492){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(654){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(681){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1032){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1140){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1167){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1194){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1221){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1410){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(88){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(115){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(223){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(493){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(628){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(655){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(844){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(871){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(898){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1033){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1087){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1114){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1411){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(35){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(62){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(467){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(521){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(629){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(791){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(818){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(899){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(926){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1034){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1061){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1304){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1331){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1358){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1385){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(9){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(36){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(468){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(495){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(522){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(603){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(630){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(765){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(792){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(927){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1035){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1278){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(64){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(442){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(550){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(604){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(793){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(928){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(955){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(982){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1225){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1252){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(92){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(335){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(362){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(416){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(443){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(470){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(551){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(578){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(605){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(821){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(902){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(929){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1226){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(93){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(390){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(822){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(849){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(876){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1227){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(13){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(40){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(67){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(121){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(202){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(418){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(445){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(472){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(499){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1147){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1174){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1201){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(41){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(95){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(122){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(149){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(176){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(338){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(365){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(392){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(446){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1094){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1121){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(69){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(339){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(420){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(447){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1041){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1068){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1095){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1122){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1149){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1176){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(70){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(340){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(475){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(637){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(664){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(745){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(880){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1015){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1042){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1069){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1096){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1204){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1231){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(98){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(368){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(503){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(638){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1070){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1097){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1124){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1259){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1286){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(45){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(72){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(99){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(126){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(369){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(639){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1125){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1152){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1314){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1341){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1368){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(73){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(154){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(181){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(397){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(613){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(640){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1180){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1342){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1396){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(101){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(398){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(506){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(587){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(668){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(857){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(884){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1397){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(129){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(426){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(480){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(507){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(534){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(561){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(669){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(804){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(831){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(912){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(939){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(966){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(993){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1209){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1236){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1263){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1290){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1398){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(157){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(184){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(454){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(481){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(508){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(697){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(778){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(805){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(832){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(859){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(886){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(994){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1021){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1048){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1075){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1102){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1183){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1318){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1399){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(212){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(239){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(266){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(347){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(374){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(509){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(536){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(725){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(752){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(779){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(914){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(941){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1049){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1076){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1103){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1130){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1157){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1346){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1400){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(240){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(402){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(429){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(456){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(483){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(969){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(996){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1023){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1347){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1401){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(214){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(349){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(376){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1375){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(1402){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(188){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(215){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(242){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(269){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(296){
background-color: rgba(0,0,0, 1);
}
.pixel:nth-child(323){
background-color: rgba(0,0,0, 1);
}
